<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="container-fluid">
  <div class="row">
    <div class="form-group col-xs-12 col-sm-6 col-md-8">
      <input id="url" type="text" class="form-control col-xs-12" placeholder="ENTER URL here">
    </div>
    <button id="send-url" class="btn btn-default col-xs-4 col-xs-offset-1 col-sm-2 col-md-1" data-loading-text="Loading...">Fetch ONE</button>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-sm-6 col-md-8">
      <input id="rss-query" type="text" class="form-control col-xs-12" placeholder="enter query string for RSS or blank for last feed. i.e: day=3&monthnum=1&year=2015">
    </div>
    <button id="get-rss" class="btn btn-default col-xs-4 col-xs-offset-2 col-sm-offset-1 col-sm-2 col-md-1" data-loading-text="Loading...">RSS FEED</button>
  </div>
  <div id="ctn" class="row"></div>
</div>

<script id="metric-template" type="text/x-handlebars-template">
 <div id="\{{tail}}" class="metric" role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="score">
        <a data-target="score" role="tab" data-toggle="tab">Social Cake</a>
      </li>
      <li role="data" class="active">
        <a data-target="data" role="tab" data-toggle="tab">Data</a>
      </li>
      <li role="post">
        <a data-target="post" role="tab" data-toggle="tab">Post</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane score"></div>

      <div role="tabpanel" class="tab-pane data active">

        <ul class="list-group">
          \{{#each counters}}
          <li class="list-group-item item-\{{@key}}">
            <span class="badge \{{@key}}">\{{parseValue @key this}}</span>

            \{{#if this.details}}
            <a class="name collapser">\{{fancyName @key}}</a>
            <ul class="list-group collapse details">

              \{{#each this.details}}
              <li class="list-group-item">
                <span class="badge">\{{parseValue @key this}}</span>
                \{{fancyName @key}}
              </li>
              \{{/each}}

            </ul>
            \{{else}}
              <span class="name">\{{fancyName @key}}</span>
            \{{/if}}

          </li>
          \{{/each}}
        </ul>

      </div>

      <div role="tabpanel" class="tab-pane post">

      \{{#if _id}}

        <ul class="list-group">

          <li class="list-group-item">
            <span class="badge comments">\{{comments}}</span>
            <span class="name">Comments</span>
          </li>

          <li class="list-group-item">
            <span class="badge readtime">\{{parseTime readtime}}</span>
            <span class="name">Read Time</span>
          </li>

          <li class="list-group-item">
            <span class="badge words">\{{countWords text}}</span>
            <span class="name">Words</span>
          </li>

          <li class="list-group-item">
            <span class="badge published">\{{parseDate published_at}}</span>
            <span class="name">Published</span>
          </li>

          <li class="list-group-item">
            <a class="collapser">Scraped post text</a>
            <p class="post-text collapse details">
              \{{trimText text}}
            </p>
          </li>

        </ul>

      \{{else}}
        <span>NO CONTENT SCRAPED</span>
      \{{/if}}

      </div>
    </div>

  </div>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="/js/textures.min.js"></script>
<script src="/js/handlebars-v3.0.3.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/dashboard.js"></script>

